# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Native builds
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# VS Code
.vscode/

# Local environment files
.env*.local

# Typescript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
*.log
tmp/
temp/

# API client backup
src/services/api/client.ts.backup
